@page
@model IndexModel
@{
    ViewData["Title"] = "Jobsity Chat";
}

<!-- Chat -->
<div class="chat">
    <div>
        <h1>Jobsity Chat</h1>
    </div>
    <div class="chat-body">
        <div id="chat-messages">
            <p>Welcome to Jobsity Chat!</p>
        </div>

        <form method="post">
            @Html.ValidationSummary()

            <label for="RoomId">Chat room: </label>
            <select id="RoomId" name="RoomId" asp-items="Model.ChatRooms" required>
                <option value="">Please select</option>
            </select>

            <div style="margin: 10px;"></div>
            <label for="UserId">User name: </label>
            <input asp-for="UserId" required placeholder="Enter your preferred name..." />
            <button type="submit">Login</button>
        </form>
    </div>
</div>

@section Scripts {
<script src="~/js/signalr/dist/browser/signalr.min.js"></script>
}